.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  height: 100%;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  background-color: white;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Remove the padding we set earlier */
.header,
.marketing,
.footer {
  padding-left: 0;
  padding-right: 0;
}

/* Space out the masthead */
.header {
  margin-bottom: 49px;
 }


/* Space out the masthead */
.modalHeader {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 1.25em;
}
/* Remove the bottom border on the jumbotron for visual effect */
.jumbotron {
  border-bottom: 0;
}

.stdNucleotideBtnA {
  color : green;
}

.stdNucleotideBtnC {
  color : red;
}

.stdNucleotideBtnG {
  color : orange;
}

.stdNucleotideBtnU, .stdNucleotideBtnT {
  color : cyan;
}

.stdNucleotideBtnA, .stdNucleotideBtnC, .stdNucleotideBtnG, .stdNucleotideBtnU, .stdNucleotideBtnT{
  font-weight: bolder;
  font-size: 1.5em;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;

}

/* For the load sequence modal dialogue box
 * Taken from tutorial by Adam Albrecht (will probably tweak for consistent app layout) */
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */
  min-width: 300px;

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

/* adds scroll bar to load sequence modal
 * source: http://jsfiddle.net/jasny/zclse/ */
.ng-modal-dialog{
    max-height: 900px;
    overflow-y: auto;
}

/* wider modal for long sequences, for right-click modal */
.wide-modal .modal-dialog{
    width: 85%;
    min-width: 400px;
    overflow-y: auto;
}

/* CSS for the layout of the main page overall */
.content {
  height: 100%;
}

.controls {
  padding: 10px 0px;
}

.right-controls input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.row {
  margin: 0px;
}

.left-controls {
  background-color: #eff;
}

.right-controls {
  background-color: #eef;
}

.full-height {
  height: calc(100vh - 153px);
}

.library-column {
  /*background-color: #fef;*/
  height: 100%;
  border-right: 2px solid #225EA8;
}

.canvas-column {
  background-color: #ffe;
  height: 100%;
}

/*input {
  margin-top: 5px;
  margin-bottom: 5px;
}*/

#input {
  margin-top: 5px;
  margin-bottom: 5px;
  border:solid 1px #707070;
}

.canvas-container {
  width: 100%;
  height: 100%;
  padding-bottom: 45px;
}

.canvas-container:focus {
  outline: 0px solid transparent;
}

svg {
  width: 100%;
  height: 100%;
}

.canvas-row-top {
  height: 65%;
  border-bottom: 2px solid #225EA8;
}

.canvas-row-bottom {
  max-height: 35%;
  resize: vertical;
  overflow-y: auto;
  padding-top: 5px;
}

.message-span {
  padding-left: 45px;
}

.molecule-table {
  display:table;
  width:100%;
}

.btn-selector.btn-selector {
  width: 33.33333%;
  background-color: white;
  border: solid 1px #707070;
}

.btn-selector-view.btn-selector-view {
  width: 50%;
  background-color: white;
  border: solid 1px #707070;
}

.activetype {
  background-color: #bbbbbb!important;
  border: solid 1px #707070;
}

.sub-group {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  border: solid 1px #777;
  height: 94%;
  padding-bottom: 2%;
}

.button-row {
  height: 5%;
  width: 100%;
}

.button-row button {
  line-height: 90%!important;
}

.input-row {
  height: 5%;
  width: 100%;
  display: table;
  table-layout: fixed;
  margin-top: 2px;
}

.input-row input {
  font-size : 12px;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.input-row label {
  font-style: normal;
  display: table-cell;
  vertical-align: middle;
  width: 30%;
}

.monomer-listing {
  width: 100%;
  border: solid 1px #777;
  padding-left: 2%;
  padding-right: 2%;
  height: 94%;
  overflow-y: auto;
}

.monomer-view {
  height: 100%;
  overflow-y: auto;
}

.monomer-holder {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 6px 3px 0px 3px;
  position: relative;
}

.monomer {
  font-size: 14px;
  line-height: 30px;
  width: 100%;
  height: 100%;
}

.monomer-name {
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  line-height: 50px;
}

.monomer-explorer {
  /* TODO - this should probably be relative, somehow */
  height: 240px;
}

/* background colors for monomers */
.monomer-background-color-white {
  background-color: #ffffff;
}
.monomer-background-color-light-violet {
  background-color: #c6c3fe;
}
.monomer-background-color-green {
  background-color: #7fff00;
}
.monomer-background-color-red {
  background-color: #ff0000;
}
.monomer-background-color-orange {
  background-color: #ffa500;
}
.monomer-background-color-cyan {
  background-color: #00ffff;
}
.monomer-background-color-light-cyan {
  background-color: #e0ffff;
}
.monomer-background-color-purple {
  background-color: #a020f0;
}

/* font colors for monomers */
.monomer-font-color-green {
  color: #6ccc00;
  -webkit-text-fill-color: #6ccc00;
  -webkit-text-stroke: .4px black;
  font-weight: bold;
}
.monomer-font-color-red {
  color: #ff0000;
  -webkit-text-fill-color: #ff0000;
  -webkit-text-stroke: .4px black;
  font-weight: bold;
}
.monomer-font-color-orange {
  color: #ffa500;
  -webkit-text-fill-color: #ffa500;
  -webkit-text-stroke: .4px black;
  font-weight: bold;
}
.monomer-font-color-cyan {
  color: #00ffff;
  -webkit-text-fill-color: #00ffff;
  -webkit-text-stroke: .4px black;
  font-weight: bold;
}
.monomer-font-color-black {
  color: #000000;
  -webkit-text-fill-color: #000000;
  -webkit-text-stroke: .4px black;
  font-weight: bold;
}
.monomer-font-color-white {
  /*color: #ffffff;*/
  color: #000000;
  -webkit-text-fill-color: #000000;
  -webkit-text-stroke: .7px black;
  font-weight: bold;
}

/* the shapes for monomers (borrowed from http://creative-punch.net/2014/01/perfect-css-hexagons-size-using-transform-calc/) */
.monomer-shape-no {
}
.monomer-shape-rect {
  border: solid 1px black;
  border-radius: 8px;
}
.monomer-shape-rhomb {
  width: 70.7107%;
  height: 70.7107%;
  margin-left: 15%;
  margin-top: 15%;
  transform: rotate(45deg);
  border: solid 1px black;
}
.monomer-shape-circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 1px black;
}
.monomer-shape-hexagon:before {
  position: absolute;
  top: 0;
  left: 50%;
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotate(60deg);
  transform-origin: 25% 25%;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  margin-top: 5%;
}
.monomer-shape-hexagon {
  height: 90%;
  /*width: 57.735%;*/
  width: 51.962%;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  display: inline-block;
  margin-top: 5%;
}
.monomer-shape-hexagon:after {
  position: absolute;
  top: 0;
  left: 50%;
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotate(-60deg);
  transform-origin: 25% 75%;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  margin-top: 5%;
}

/* don't let the text of the monomers be selected */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.category-holder {
  overflow-y: auto;
}

.btn-category.btn-category {
  width: 100%;
  line-height: 90%;
  margin-top: 5px;
  background-color: white;
  border: solid 1px #707070;
}

.monomer-directive {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.monomer-selected {
  border: dashed 1px #f00000;
}

.myModal{
  height:700px;
  padding:5px;
}

.modal {
  display: block;
}

.btn {
    background-color: lightgrey;
    color: black;
}

th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

/* table title in molecular properties modal */
caption {
    display: table-caption;
    text-align: center;
}

.table-full {
  table-layout: fixed;
  width: 100%;
}

.table-label {
  width: 25%;
  font-weight: bold;
}

.table-data {
  width: 75%;
}

.table-max-height {
  overflow-wrap: break-word;
  overflow-y: auto;
  max-height: 80px;
}

.table-data img {
  max-height: 120px;
}

.node-cover {
  cursor: pointer;
}
