<p>This is the loadsequence view.</p>

  <div ng-controller='LoadsequenceCtrl'>
    <button ng-click='toggleModal()'>Open Modal Dialog</button>
    <modal-dialog show='modalShown'>

      <div class="header">Load Sequence</div>
      <div><p>New | 
      	<!--TODO: Load file functionality--><a>Load Files</a>
      </p></div>
      <form>
	    <table>
	      <tr>
	        <td rowspan="3"></td>
	        <td><label>Please choose:</label></td> <td align="right">
	        <select ng-model="polymerType" 
	        	ng-options="option as option.label for option in polyTypes">
	        </select></td>
	      </tr>
	      <tr>
	        <td colspan="2"><textarea ng-model="inputSequence" id="input" name="Query" cols="80" rows="3"></textarea></td>
	      </tr>
	      <tr><td align="right" colspan="2" >
	      	<a ng-click='toggleModal()'>Cancel</a>
			<button ng-click="processInput(polymerType, inputSequence)">
				Load
			</button>
			</td></tr>
	    </table>
	    </form>
    </modal-dialog>

	<p>{{result}}</p>

  </div>