<p>This is the main HELM editor view.</p>


<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Nucleic Acid</a></li>
  <li><a data-toggle="tab" href="#menu1">Peptide</a></li>
  <li><a data-toggle="tab" href="#menu2">Chemical Modifier</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">

<p> 
<button class="stdNucleotideBtnA" ng-click="addNucleicAcid('A', 'green')"> A </button>
<button class="stdNucleotideBtnC" ng-click="addNucleicAcid('C', 'red')"> C </button>
<button class="stdNucleotideBtnG" ng-click="addNucleicAcid('G', 'orange')"> G </button>
<button class="stdNucleotideBtnT" ng-click="addNucleicAcid('T', 'cyan')"> T </button>
<button class="stdNucleotideBtnU" ng-click="addNucleicAcid('U', 'cyan')"> U </button></p>
  </div>
  <div id="menu1" class="tab-pane fade">

    <p> </p>
  </div>
  <div id="menu2" class="tab-pane fade">

<p>
  <!-- <button class="stdNucleotideBtnA">  MCc </button>
  <button class="stdNucleotideBtnC"> Az </button>
  <button class="stdNucleotideBtnG"> hxy </button> -->
</p>
</div>
</div>


<div style="width: 80%; height:80%;overflow: auto;">
        <!-- <div style="width: 600px; height:400px; float: left;"> 
        <textarea 
          style="width: 100px; height:100px"
          chart-json-edit
          view-model="chartViewModel"
          >
        </textarea>
       
      </div> -->
        <div style="margin-left: 20px;">
       
        <!--
        This custom element defines the helm canvas.
        -->
          <helm-canvas style="margin: 5px; width: 400px; height:300px;"
              chart="chartViewModel" >
          </helm-canvas> 
        </div>
    </div>
