<p>This is the main HELM editor view.</p>

<table>
    <tr>
      <td rowspan="3"></td>
      <td><label>Enter sequence</label></td> <td align="right">
      <select ng-model="polymerType"
        ng-options="option as option.label for option in polyTypes">
      </select></td>
    </tr>
    <tr>
      <td colspan="2"><textarea ng-model="inputSequence" id="input" name="Query" cols="80" rows="3"></textarea></td>
    </tr>
    <tr><td align="right" colspan="2" >
          <button type="reset" ng-click="reset()">Reset</button>
          <!--<button ng-click="generateNotationAndLoadCanvas(polymerType, inputSequence)">Load</button>-->
          <button ng-click="translateHELMNotationToString(inputSequence)">Load</button>
        </td>
    </tr>
</table>


<div style="width: 80%; height:80%;overflow: auto;">
        <div style="margin-left: 20px;">

        <!--This custom element defines the helm canvas.-->
          <helm-canvas style="margin: 5px; width: 500px; height:300px;"
              chart="chartViewModel" >
          </helm-canvas>
        </div>
</div>
