<div ng-controller='MainCtrl as main'>
  <!-- layout of main page -->
  <div class='outer'>
    <div class='row controls'>
      <!-- left controls -->
      <div class='col-md-6 left-controls'>
        <button class='btn' ng-click='main.toggleModal()'>Load</button>
        <button class='btn' ng-click='resetCanvas()'>Reset</button>
      </div>
      <!-- right controls -->
      <div class='col-md-6 right-controls'>
        <input class='pull-right' name='lookup' id='lookup'>
      </div>
    </div>
    <div class='row full-height'>
      <div class='col-md-3 library-column' ng-controller='LibraryCtrl as library'>
        <div class="btn-group btn-group-sm btn-group-justified button-row" role="group" aria-label="Type selection">
          <div 
            class="btn-group btn-group-sm" 
            role="group"
            ng-repeat="polymerType in library.polymerTypes">
            <button 
              class="btn btn-secondary btn-selector"
              ng-class="{activetype: library.activeType === polymerType}"
              ng-click="library.activeType = polymerType">
              {{ polymerType }}
            </button>
          </div>
        </div>

        <div class="sub-group">
          <!-- allow either searching or exploring -->
          <div class="btn-group btn-group-sm btn-group-justified button-row" role="group" aria-label="View selection">
            <div class="btn-group btn-group-sm" role="group">
              <button 
                class="btn btn-secondary btn-selector-view"
                ng-class="{activetype: library.searchViewVisible}"
                ng-click="library.setViewVisible('search')">
                Search
              </button>
            </div>
            <div class="btn-group btn-group-sm" role="group">
              <button 
                class="btn btn-secondary btn-selector-view"
                ng-class="{activetype: library.exploreViewVisible}"
                ng-click="library.setViewVisible('explore')">
                Explore
              </button>
            </div>
          </div>
          <div class="sub-group">
            <div ng-show="library.searchViewVisible" style="height: 100%">
              <div class="input-row">
                <label class="search-label">Search: </label>
                <input class="search-input" type="text" ng-model="library.search">
              </div>
              <div class="monomer-listing">
                <div 
                  ng-repeat="monomer in library.searchMonomers()"
                  class="monomer-holder">
                  <div
                    ng-class="library.convertBackgroundColorClass(monomer._backgroundColor) + ' ' + library.convertShapeClass(monomer._shape)"
                    class="monomer">
                  </div>
                  <span 
                    class="monomer-name noselect"
                    ng-class="library.convertFontColorClass(monomer._fontColor)">
                    {{monomer._name}}
                  </span>
                </div>
              </div>
            </div>
            <div ng-show="library.exploreViewVisible" class="monomer-view">
              <!-- display each category under this that exists -->
              <div 
                class="category-holder" 
                ng-repeat="category in library.getCategories(library.getActiveType())">
                <button 
                  class="btn btn-secondary btn-category" 
                  ng-click="library.activeCategory = category._name"
                  ng-class="{activetype: library.categoryActive(category._name)}">
                  {{ category._name }}
                </button>
                <!-- display sub elements -->
                <div
                  class="sub-selection-group"
                  ng-show="library.activeCategory === category._name">
                  <!-- display any sub-categories that may exist -->
                  <div 
                    class="sub-group"
                    ng-show="library.activeCategory === category._name">
                    <div
                      class="sub-category-holder"
                      ng-repeat="subCategory in library.getCategories(category)">
                      <button
                        class="btn btn-secondary btn-category"
                        ng-click="library.activeSubCategory = subCategory._name"
                        ng-class="{activetype: library.subCategoryActive(subCategory._name)}">
                        {{ subCategory._name }}
                      </button>
                      <div
                        ng-show="library.activeSubCategory === subCategory._name">
                        <div
                          class="monomer-listing monomer-explorer"
                          ng-show="library.getMonomers(subCategory).length > 0 || library.getCategories(subCategory).length === 0">
                          <div
                            ng-repeat="monomer in library.getMonomers(subCategory)"
                            class="monomer-holder">
                            <div
                              ng-class="library.convertBackgroundColorClass(monomer._backgroundColor) + ' ' + library.convertShapeClass(monomer._shape)"
                              class="monomer">
                            </div>
                            <span 
                              class="monomer-name noselect"
                              ng-class="library.convertFontColorClass(monomer._fontColor)">
                              {{monomer._name}}
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- display if there are just monomers in here -->
                  <div 
                    class="monomer-listing monomer-explorer"
                    ng-show="library.getMonomers(category).length > 0 || library.getCategories(category).length === 0">
                    <div 
                      ng-repeat="monomer in library.getMonomers(category)"
                      class="monomer-holder">
                      <div
                        ng-class="library.convertBackgroundColorClass(monomer._backgroundColor) + ' ' + library.convertShapeClass(monomer._shape)"
                        class="monomer">
                      </div>
                      <span 
                        class="monomer-name noselect"
                        ng-class="library.convertFontColorClass(monomer._fontColor)">
                        {{monomer._name}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <label class="search-label">Monomer Search:</label>
        <input class="search-input" type="text" ng-model="library.search.monomer">
        <br><br>
        <p> {{ library.getSearchBoxResult() }} </p>
        <form>
          Make a selection: <br>
          <select>
          <option ng-repeat="x in library.getPolymerIdList()">{{x}}</option>
          </select>
        </form>

        <button class="stdNucleotideBtnA"> A </button>

        <button class="stdNucleotideBtnC"> C </button>

        <button class="stdNucleotideBtnG"> G </button>

        <button class="stdNucleotideBtnT"> T </button>

        <button class="stdNucleotideBtnU"> U </button> -->
      </div>
      <div class='col-md-9 canvas-column'>
        <div class='row canvas-row-top'>
          <p><span>View: Detailed Sequence</span><span class="message-span">{{main.result}}</span></p>
          <div class='canvas-container'>
            <helm-canvas graph='canvasView' canvastype='upper'>
          </div>
        </div>
        <div class='row canvas-row-bottom'>
          <p></p>
          <p><span>View: <select ng-model='viewType' ng-selected='viewType' ng-options='option as option.label for option in main.viewTypes' ng-change='updateLower(viewType)'></select></span></p>
          <div ng-show='helm'><p><span>{{main.helm}}</span></p></div>
          <div ng-show='moleculeprops'>
            <table class='molecule-table'>
              <tr><th>Component Type</th><th>Molecular Weight</th><th>Molecular Formula</th><th>Ext. Coefficient</td></tr>
              <tr><td>{{main.seqtype}}</td><td>{{main.molecularweight}}</td><td>{{main.molecularformula}}</td><td>{{main.extcoefficient}}</td></tr>
            </table>
          </div>
          <div class='canvas-container' ng-show='sequence'>
            <helm-canvas graph='canvasView' canvastype='lower'>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- modal dialog form -->
  <modal-dialog show='main.modalShown'>
    <div class='modalHeader'>Load Sequence</div>
    <div>
      <p>New | <!--TODO: Load file functionality--><a>Load Files</a></p>
    </div>
    <div>
      <i>
        Example HELM Sequences:<br>
        RNA1{R(A)P.[mR](U)[sP].R(G)P.R([5meC])P.[dR](T)P.[dR](T)}$$$$
        <br><br>
        RNA1{[am6]P.R(C)P.R(U)P.R(U)P.R(G)P.R(A)P.R(G)P.R(G)}|PEPTIDE1{A.C.G.K.E.D.K.R}|CHEM1{SMCC}$PEPTIDE1,CHEM1,2:R3-1:R2|RNA1,CHEM1,1:R1-1:R1$$$
        <br><br>
        RNA1{R(A)P.R(A)P.R(G)P.R(G)P.R(C)P.R(U)P.R(A)P.R(A)P}|RNA2{R(A)P.R(A)P.R(G)P.R(G)P.R(C)P.R(U)P.R(A)P.R(A)P}|CHEM1{sDBL}$RNA2,CHEM1,24:R2-1:R3|RNA1,CHEM1,24:R2-1:R2$$$
        <br><br>
        RNA1{P.R(A)P.R(G)P.R(C)P.R(U)P.R(T)P.R(T)P.R(T)P.R(T)}|CHEM1{SS3}$RNA1,CHEM1,1:R1-1:R1$$$
        <br><br>
        Cyclic Peptide:<br>
        PEPTIDE1{A.R.C.A.A.K.T.C.D.A}$PEPTIDE1,PEPTIDE1,8:R3-3:R3$$$<br>
        PEPTIDE1{R.Y.F.L.W.V.F.P.L}$PEPTIDE1,PEPTIDE1,9:R2-1:R1$$$<br>
        PEPTIDE1{T.R.L}|PEPTIDE2{R.Y.R}$PEPTIDE1,PEPTIDE1,3:R2-1:R1|PEPTIDE2,PEPTIDE2,3:R2-1:R1$$$<br><br>
      </i>
    </div>
    <form>
      <table>
        <tr>
          <td rowspan='3'></td>
          <td><label>Please choose:</label></td> 
          <td align='right'>
            <select ng-model='polymerType' ng-options='option as option.label for option in main.polyTypes'></select>
          </td>
        </tr>
        <tr>
          <td colspan='2'>
            <textarea ng-model='inputSequence' id='input' name='Query' cols='80' rows='3'></textarea>
          </td>
        </tr>
        <tr>
          <td align='right' colspan='2'>          
            <button class='btn' ng-click='main.processInput(polymerType, inputSequence)'>Load</button>
            <button class='btn' ng-click='main.clear()'>Clear</button>
            <button class='btn' ng-click='main.toggleModal()'>Cancel</button>
          </td>
        </tr>
      </table>
    </form>
  </modal-dialog>
</div>
