<svg class="draggable-container"
  xmlns="http://www.w3.org/2000/svg" id="mainCanvas"
  ng-click="$parent.svgClicked()">

  <!-- zoom and pan buttons -->   
 <circle class="zoombtn"  cx="40" cy="31" r="8" ng-click="zoom(0.8, $event)"></circle>
  <circle class="zoombtn"  cx="40" cy="49" r="8" ng-click="zoom(1.20, $event)"></circle>
  <text class="plus-minus" x="36" y="28"> _  </text> 
  <text class="plus-minus" x="36" y="53"> +  </text> 
  <image xlink:href="images/arrow-up.png" x="30" y="5" 
      height="20px" width="20px" ng-click ="pan(0,50, $event)"></image>
  <image xlink:href="images/arrow-down.png" x="30" y="58" 
      height="20px" width="20px" ng-click ="pan(0,-50, $event)"></image>
  <image xlink:href="images/arrow-right.png" x="45" y="30" 
      height="20px" width="20px"  ng-click ="pan(-50,0, $event)"></image>
  <image xlink:href="images/arrow-left.png" x="15" y="30" 
      height="20px" width="20px" ng-click ="pan(50,0, $event)"></image>
   
   
  <!-- Graph display begin --> 
  <g id="map-matrix" transform="matrix(1 0 0 1 0 0)">

    <!-- loop thru all the connections in the graph -->
    <!-- connections are drawn first so the lines are not visible inside the nodes -->
    <g ng-repeat="connection in graph.connections">
      <path 
        ng-attr-d="M{{connection.sourceCoordX()}}, {{connection.sourceCoordY()}} L{{connection.destCoordX()}}, {{connection.destCoordY()}}"
        ng-attr-class="{{'path-style'}}"
        ng-click="$event.stopPropagation();">
      </path>
    </g>

  <!-- loop thru all the nodes in the graph -->
    <g ng-repeat="node in graph.nodes">
      <rect ng-click="graph.toggleSelectedNode(node, $event)"
            ng-attr-class="{{node.id()==graph.getSelectedNode().data.id ? 'selected-node-rect':'node-rect'}}"
            ng-attr-width="{{node.width()}}"
            ng-attr-height="{{node.height()}}"
            ng-attr-fill="{{node.colour()}}"
            ng-attr-x="{{node.x()}}"
            ng-attr-y="{{node.y()}}"
            ng-attr-rx="{{node.rx()}}"
            ng-attr-ry="{{node.ry()}}"
            ng-attr-transform="rotate({{node.transformDegree()}}, {{node.transformx()}}, {{node.transformy()}})"
            ng-click="$event.stopPropagation();"
            >
      </rect>

      <text
        ng-click="graph.toggleSelectedNode(node, $event)"
        ng-attr-x="{{(node.width()/2)+node.x()}}"
        ng-attr-y="{{(node.height()/2)+node.y()}}"
        text-anchor="middle"
        alignment-baseline="middle"
        ng-attr-fill = "{{node.textColor()}}"
        ng-click="$event.stopPropagation();">
        {{node.name()}}
      </text>

      <text
        ng-attr-x="{{(node.x()-5)}}"
        ng-attr-y="{{(node.y()-5)}}"
        text-anchor="middle"
        alignment-baseline="middle"
        ng-attr-visibility="{{node.seqVisible()}}"
        ng-click="$event.stopPropagation();">
        {{node.num()}}
      </text>
    </g>
  </g>
</svg>
