<div class="modal-body">
    <table>
        <caption> Molecular Properties </caption>
        <tr>
            <td> Molecular Formula</td>
            <td> {{main.molecularformula}}</td>
        </tr>
        <tr>
            <td> Molecular Weight</td>
            <td> {{main.molecularweight}}</td>
        </tr>
        <tr>
            <td> Ext. Coefficient (mM-1cm-1)</td>
            <td> {{main.extcoefficient}}</td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">close</button>
</div>
